<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <% if (errorMessage) { %>
      <div><%= errorMessage %></div>
    <% } %>
  <form action="/login" method="post" novalidate>
    <div>
      <label for="email">Epost</label>
      <input type="email" name="email" id="email" value="<%= inputData.email %>">
    </div>
    <div>
      <label for="password">Lösenord</label>
      <input type="password" name="password" id="password" value="<%= inputData.password %>">
    </div>
    <div>
      <button type="submit">Logga in</button>
    </div>
  </form>
  <%- include('../includes/end.ejs') %>