<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/add-invoice.css">

</head>
<%- include('../includes/navigation.ejs') %>
<body class="preload">
   
  <main class="form-wrapper">
    <% if (validationErrors) { %>
      <% validationErrors.forEach(e => { %>
        <div class="error-message"><%= e.msg %></div>
      <% }) %>
    <% } %>
    <h2 class="invoice-header">Mottagaruppgifter</h2>
    <% if (recipients.length > 0) { %>
    <form action="/admin/add-invoice/autofill" method="post" novalidate>
      <div class="select form-control">
        <select name="authority" id="authority">
          <% recipients.forEach(recipient => { %>
            <option value="<%= recipient.authority %>"> 
              <%= recipient.authority %>
            </option>
          <% }) %>
        </select>
      </div>
      <div class="form-control">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Hämta uppgifter</button>
      </div>  
    </form>
    <% } %>
    
    
    <form action="/admin/add-invoice" method="post" novalidate>
      <div class="form-control">
        <label for="authority">Mottagare: </label>
        <input 
          type="text" 
          name="authority" 
          id="authority"
          value="<%= recipient ? recipient.authority : '' %>" />
      </div>
      <div class="form-control">
        <label for="ref-person">Referensperson: </label>
        <input 
          type="text" 
          name="refPerson" 
          id="ref-person"
          value="<%= recipient ? recipient.refPerson : '' %>" />
      </div>
      <div class="form-control">
        <label for="street">Gatuaddress:</label>
        <input 
          type="text" 
          name="street" 
          id="street"
          value="<%= recipient ? recipient.street : '' %>" />
      </div>
      <div class="form-control">
        <label for="zip">Postkod:</label>
        <input 
          type="text" 
          name="zip" 
          id="zip" 
          value="<%= recipient ? recipient.zip : '' %>" />
      </div>
      <div class="form-control">
        <label for="city">Postort:</label>
        <input 
          type="text" 
          name="city" 
          id="city"
          value="<%= recipient ? recipient.city : '' %>" />
      </div>
   
      <h2 class="invoice-header">Kostnadsuppgifter</h2>
      <div class="form-control">
        <label for="invoice-number">Fakturanummer</label>
        <input 
          type="number" 
          name="invoiceNumber" 
          id="invoice-number"/>
      </div>
      <div class="form-control">
        <label for="assignment-number">Uppdragsnummer</label>
        <input 
          type="number" 
          name="assignmentNumber" 
          id="assignment-number"/>
      </div>

      <section class="invoice-rows" id="rows">
        <div class="row">
          <h3 class="row-header">(Rader på fakturan)</h2>
          <div class="form-control">
            <label for="description">Beskrivning</label>
            <input type="text" name="description[]" id="description" />
          </div>
          <div class="form-control">
            <label for="quantity">Antal </label>
            <input type="number" name="quantity[]" id="quantity" step=".01" />
          </div>
          <div class="form-control">
            <label for="unit">Enhet</label>
            <input type="text" name="unit[]" id="unit"/>
          </div>
          <div class="form-control">
            <label for="price">Pris</label>
            <input type="number" name="price[]" id="price" step=".01"/>
          </div>
        </div>
      </section>
      <div class="add-row" id="add-row">
        <i class="fas fa-plus"><span>Ny rad</span></i>
      </div>
      <button class="btn" type="submit">Skicka som pdf till min epost</button>
      <a class="btn" href="/admin/invoices">Avbryt</a>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
    </form>
  </main>

  <script src="/js/add-invoice.js"></script>
<%- include('../includes/end.ejs') %>
