<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/invoice.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
<%- include('../includes/navigation.ejs') %>
  <main class="form-wrapper">
    <form action="/admin/edit-invoice" method="POST">
      <h2 class="form-header">Mottagaruppgifter</h2>
      <div class="form-control">
        <label for="authority">Mottagare</label>
        <input 
          type="text" 
          name="authority" 
          id="authority"
          value="<%= inputData ? inputData.authority : invoice.recipient.authority %>" />
      </div>
      <div class="form-control">
        <label for="ref-person">Referensperson</label>
        <input 
          type="text" 
          name="refPerson" 
          id="ref-person"
          value="<%= inputData ? inputData.refPerson : invoice.recipient.refPerson %>" />
      </div>
      <div class="form-control">
        <label for="street">Gatuaddress</label>
        <input 
          type="text" 
          name="street" 
          id="street"
          value="<%= inputData ? inputData.street : invoice.recipient.street %>" />
      </div>
      <div class="form-control">
        <label for="zip">Postkod</label>
        <input 
          type="text" 
          name="zip" 
          id="zip" 
          value="<%= inputData ? inputData.zip : invoice.recipient.zip %>" />
      </div>
      <div class="form-control">
        <label for="city">Postort</label>
        <input 
          type="text" 
          name="city" 
          id="city"
          value="<%= inputData ? inputData.city :invoice.recipient.city %>" />
      </div>
      
      <h2 class="invoice-header">Kostnadsuppgifter</h2>
      <div class="form-control">
        <label for="invoice-number">Fakturanummer</label>
        <input 
          type="number" 
          name="invoiceNumber" 
          id="invoice-number"
          value="<%= inputData ? inputData.invoiceNumber : invoice.invoiceNumber %>" />
      </div>
      <div class="form-control">
        <label for="assignment-number">Uppdragsnummer</label>
        <input 
          type="number" 
          name="assignmentNumber" 
          id="assignment-number" 
          value="<%= inputData ? inputData.assignmentNumber : invoice.assignmentNumber %>" />
      </div> 
      
      <section class="invoice-rows" id="rows">
      <% if (inputData) { %>
        <% for (let i = 0; i < inputData.description.length; i++) { %>
        <div class="row">
            <div class="form-control">
              <label for="description">Beskrivning</label>
              <input 
                type="text" 
                name="description[]" 
                id="description"
                value="<%= inputData.description[i] %>" />
            </div>
            <div class="form-control">
              <label for="quantity">Antal: </label>
              <input 
                type="number" 
                name="quantity[]" 
                id="quantity"
                value="<%= inputData.quantity[i] ? inputData.quantity[i] : '' %>" />
            </div>
            <div class="form-control">
              <label for="unit">Enhet:</label>
              <input 
                type="text" 
                name="unit[]" 
                id="unit"
                value="<%= inputData.unit[i] ? inputData.unit[i] : '' %>" />
            </div>
            <div class="form-control">
              <label for="price">Pris:</label>
              <input 
                type="number" 
                name="price[]" 
                id="price"
                value="<%= inputData.price[i] ? inputData.price[i] : '' %>"
                step=".01" />
            </div>
          </div>
        <% } %>
      <% } else { %>
        <% invoice.rows.forEach(row => { %>
          <div class="row">
            <div class="form-control">
              <label for="description">Beskrivning</label>
              <input 
                type="text" 
                name="description[]" 
                id="description"
                value="<%= row.description ? row.description : '' %>" />
            </div>
            <div class="form-control">
              <label for="quantity">Antal: </label>
              <input 
                type="number" 
                name="quantity[]" 
                id="quantity"
                value="<%= row.quantity ? row.quantity : '' %>" />
            </div>
            <div class="form-control">
              <label for="unit">Enhet:</label>
              <input 
                type="text" 
                name="unit[]" 
                id="unit"
                value="<%= row.unit ? row.unit : '' %>" />
            </div>
            <div class="form-control">
              <label for="price">Pris:</label>
              <input 
                type="number" 
                name="price[]" 
                id="price"
                value="<%= row.price ? row.price : '' %>"
                step=".01" />
            </div>
          </div>  
          <% }) %>
        <% } %>
      </section>
      <div class="add-row" id="add-row">
        <i class="fas fa-plus"><span>Ny rad på fakturan</span></i>
      </div>
      <input type="hidden" name="invoiceId" value="<%= invoice._id %>">
      <button class="btn" type="submit">Spara ändringar</button>
      <a href="/admin/invoices" class="btn">Avbryt</a>
    </form>
  </main>
<script src="/js/invoice.js"></script>
<%- include('../includes/end.ejs') %>