<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }

      html,
      body {
        margin: 0;
        padding: 0;
      }

      .wrapper {
        width: 200mm;
        height: 290mm;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
        margin: 10px auto;
      }

      .flex {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
      }

      .header {
        border-bottom: 1.5px solid black;
        padding-bottom: 20px;
        justify-content: stretch;
      }

      .header-col1 {
        width: 30%;
      }
      .header-col2 {
        width: 35%;
        margin-top: 10px;
      }
      .header-col3 {
        width: 35%;
        margin-top: 20px;
      }

      .author {
        margin-top: 70px;
        font-weight: bold;
        font-size: 23px;
      }

      table {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
        padding-bottom: 100px;
      }

      thead {
        border-bottom: 2px solid black;
      }

      th,
      td {
        padding: 15px;
        text-align: left;
        vertical-align: top;
      }

      th {
        white-space: nowrap;
      }

      .invoice-footer {
        margin-top: 200px;
        padding-right: 30px;
        border-top: 3px solid black;
        justify-content: flex-end;
      }
      .invoice-footer .right {
        padding: 0 20px;
      }

      .footer {
        border-top: 3px solid black;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .footer-col {
        padding: 0 15px;
        width: 50%;
      }

      .bold {
        font-weight: bold;
      }

      .italic {
        font-style: italic;
      }

      .date {
        white-space: nowrap;
      }

      .address-header {
        font-weight: bold;
        line-height: 0.6;
        font-size: 15px;
      }

      .large-header {
        font-size: 43px;
      }

    </style>
  </head>
  <body>
    <div class="wrapper">
      <header class="flex header">
        <div class="header-col1">
          <h2 class="author"><%= user.name %></h2>
          <div class="header-sub-col">
            <h4><%= user.position ? user.position : 'XXXXXXXX' %></h4>
          </div>
        </div>
        <div class="header-col2">
          <h1 class="large-header">Faktura</h1>
          <p><span class="bold">Fakturanummer: </span><%= invoice.invoiceNumber %></p>
          <div>
            <h3 class="address-header">Mottagare:</h3>
            <p>
              <%= invoice.recipient.authority %><br />
              <%= invoice.recipient.street %><br />
              <%= invoice.recipient.zip %> <%= invoice.recipient.city %>
            </p>
          </div>
        </div>
        <div class="header-col3">
          <p class="date">
            <span class="bold">Fakturadatum:</span>
            <%= invoice.updatedAt.toISOString().substring(0, 10) %>
          </p>
          <p>
            <span class="bold">Uppdragsnummer:</span>
            <%= invoice.assignmentNumber %>
          </p>
          <p>
            <span class="italic">Vår referens:</span><br />
            <%= user.name %>
          </p>
          <p>
            <span class="italic">Er referens:</span><br />
            <%= invoice.recipient.refPerson %>
          </p>
          <p>
            <span class="italic">Betalningsvillkor:</span><br />
            30 dagar netto
          </p>
        </div>
      </header>

      <main>
        <table>
          <thead>
            <tr>
              <th>Beskrivning</th>
              <th>Antal</th>
              <th>Enhet</th>
              <th>à pris</th>
              <th>Belopp (SEK)</th>
            </tr>
          </thead>
          <tbody>
            <% invoice.rows.forEach(row => { %>
            <tr>
              <td><%= row.description %></td>
              <td><%= row.quantity %></td>
              <td><%= row.unit %></td>
              <td><%= row.price %></td>
              <td><%= row.amount %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <div class="flex invoice-footer">
          <div class="left">
            <p>Belopp före moms</p>
            <p>Total moms (<%= invoice.VAT * 100 %>%)</p>
            <p class="bold">Att betala</p>
          </div>
          <div class="right">
            <p><%= invoice.totalBeforeVAT.toFixed(2) %> kr</p>
            <p><%= (invoice.totalAfterVAT - invoice.totalBeforeVAT).toFixed(2) %> kr</p>
            <p class="bold"><%= invoice.totalAfterVAT.toFixed(2) %> kr</p>
          </div>
        </div>
      </main>

      <footer class="flex footer">
        <div class="footer-col">
          <p>
            <%= user.name %><br />
            <%= user.street %><br />
            <%= user.zip %> <%= user.city %>
          </p>
        </div>
        <div class="footer-col">
          <p>Bankgiro: <%= user.bankgiro ? user.bankgiro : 'NNNN-NNNN' %></p>
          <p>Godkänd för F-skatt</p>
        </div>
        <div class="footer-col">
            <p>Telefon: <%= user.phone %></p>
            <p>Epost: <%= user.email %></p>
        </div>
        <div class="footer-col">
          <p>Organisationsnr: <%= user.registrationNumber ? user.registrationNumber : 'NNNNNN-NNNN' %></p>
          <p>Momsregnr: <%= user.vatNumber ? user.vatNumber : 'NNNNNNNNNNNNNN'%></p>
        </div>
      </footer>
    </div>
  </body>
</html>
