<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">

</head>
<%- include('../includes/navigation.ejs') %>
<body>
  
  <% if (errorMessage) { %>
    <div><%= errorMessage %></div>
  <% } %>
  
  <main class="form-wrapper">
    <h2 class="invoice-header">Mottagaruppgifter</h2>
    <% if (recipients.length > 0) { %>
    <form action="/invoice/new/autofill" method="post">
      <div class="select form-control">
        <select name="recipientAuthority" id="recipient">
          <% recipients.forEach(recipient => { %>
            <option value="<%= recipient.authority %>"> 
              <%= recipient.authority %>
            </option>
          <% }) %>
        </select>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Hämta uppgifter</button>
      </div>  
    </form>
    <% } %>
    
    
    <form action="/invoice/new" method="post" novalidate>
      <div class="form-control">
        <label for="authority">Mottagare: </label>
        <input 
          type="text" 
          name="authority" 
          id="authority"
          <% if (oldInput) { %>
            value= "<%= oldInput.authority %>"
          <% } else { %>
            value="<%= recipient ? recipient.authority : '' %>" />
          <% } %>
      </div>
      <div class="form-control">
        <label for="ref-person">Referensperson: </label>
        <input 
          type="text" 
          name="refPerson" 
          id="ref-person"
          <% if (oldInput) { %>
            value= "<%= oldInput.refPerson %>"
          <% } else { %>
            value="<%= recipient ? recipient.refPerson : '' %>" />
          <% } %>
      </div>
      <div class="form-control">
        <label for="street">Gatuaddress:</label>
        <input 
          type="text" 
          name="street" 
          id="street"
          <% if (oldInput) { %>
            value= "<%= oldInput.street %>"
          <% } else { %>
            value="<%= recipient ? recipient.street : '' %>" />
          <% } %>
      </div>
      <div class="form-control">
        <label for="zip">Postkod:</label>
        <input 
          type="text" 
          name="zip" 
          id="zip" 
          <% if (oldInput) { %>
            value= "<%= oldInput.zip %>"
          <% } else { %>
            value="<%= recipient ? recipient.zip : '' %>" />
          <% } %>
      </div>
      <div class="form-control">
        <label for="city">Postort:</label>
        <input 
          type="text" 
          name="city" 
          id="city"
          <% if (oldInput) { %>
            value= "<%= oldInput.city %>"
          <% } else { %>
            value="<%= recipient ? recipient.city : '' %>" />
          <% } %>
      </div>
   
        <h2 class="invoice-header">Kostnadsuppgifter</h2>
        <div class="form-control">
          <label for="invoice-number">Fakturanummer</label>
          <input 
            type="number" 
            name="invoiceNumber" 
            id="invoice-number"
            value="<%= oldInput ? oldInput.invoiceNumber : '' %>" />
        </div>
        <div class="form-control">
          <label for="assignment-number">Uppdragsnummer</label>
          <input 
            type="number" 
            name="assignmentNumber" 
            id="assignment-number" 
            value="<%= oldInput ? oldInput.assignmentNumber : '' %>" />
        </div>
        <div class="invoice-row" id="rows">
        <% if (oldInput) { %>
          <% for (let i = 0; i < oldInput.description.length; i++) { %>
              <div class="form-control">
                <label for="description">Beskrivning</label>
                <input 
                  type="text" 
                  name="description[]" 
                  id="description"
                  value="<%= oldInput ? oldInput.description[i] : '' %>" />
              </div>
              <div class="form-control">
                <label for="quantity">Antal: </label>
                <input 
                  type="number" 
                  name="quantity[]" 
                  id="quantity"
                  value="<%= oldInput ? oldInput.quantity[i] : '' %>"
                  step=".01" />
              </div>
              <div class="form-control">
                <label for="unit">Enhet:</label>
                <input 
                  type="text" 
                  name="unit[]" 
                  id="unit"
                  value="<%= oldInput ? oldInput.unit[i] : '' %>" />
              </div>
              <div class="form-control">
                <label for="price">Pris:</label>
                <input 
                  type="number" 
                  name="price[]" 
                  id="price"
                  value="<%= oldInput ? oldInput.quantity[i] : '' %>"
                  step=".01" />
              </div>
          <% } %>
        <% } else { %>
            <div class="form-control">
              <label for="description">Beskrivning</label>
              <input type="text" name="description[]" id="description" />
            </div>
            <div class="form-control">
              <label for="quantity">Antal: </label>
              <input type="number" name="quantity[]" id="quantity" step=".01" />
            </div>
            <div class="form-control">
              <label for="unit">Enhet:</label>
              <input type="text" name="unit[]" id="unit"/>
            </div>
            <div class="form-control">
              <label for="price">Pris:</label>
              <input type="number" name="price[]" id="price" step=".01"/>
            </div>
        <% } %>
        <button class="btn" type="button" id="add-row">Ny rad på fakturan</button>
        </div>
      <div class="form-control">
        <button class="btn" type="submit">Skicka som pdf till min epost</button>
      </div>
    </form>
  </main>

  <script src="/js/invoice.js"></script>
<%- include('../includes/end.ejs') %>
