<%- include('../includes/head.ejs') %>

  </head>
  <%- include('../includes/navigation.ejs') %>
  <body>
    <% if (errorMessage) { %>
      <div><%= errorMessage %></div>
    <% } %>
    <h1>Ny Faktura</h1>

    <% if (recipients.length > 0) { %>
    <p>Välj en tidigare mottagare för att fylla i mottagruppgifter</p>
    <form action="/invoice/new/autofill" method="post">
      <select name="recipientAuthority" id="recipient">
        <% recipients.forEach(recipient => { %>
          <option value="<%= recipient.authority %>"> 
            <%= recipient.authority %>
          </option>
        <% }) %>
      </select>
      <button type="submit">Hämta uppgifter</button>
    </form>
    <% } %>

    <form action="/invoice/new" method="post" novalidate>
      <fieldset>
        <legend>Mottagaruppgifter:</legend>
        <div>
          <label for="authority">Mottagare: </label>
          <input 
            type="text" 
            name="authority" 
            id="authority"
            <% if (oldInput) { %>
              value= "<%= oldInput.authority %>"
            <% } else { %>
              value="<%= recipient ? recipient.authority : '' %>" />
            <% } %>
        </div>
        <div>
          <label for="ref-person">Referensperson: </label>
          <input 
            type="text" 
            name="refPerson" 
            id="ref-person"
            <% if (oldInput) { %>
              value= "<%= oldInput.refPerson %>"
            <% } else { %>
              value="<%= recipient ? recipient.refPerson : '' %>" />
            <% } %>
        </div>
        <div>
          <label for="street">Gatuaddress:</label>
          <input 
            type="text" 
            name="street" 
            id="street"
            <% if (oldInput) { %>
              value= "<%= oldInput.street %>"
            <% } else { %>
              value="<%= recipient ? recipient.street : '' %>" />
            <% } %>
        </div>
        <div>
          <label for="zip">Postkod:</label>
          <input 
            type="text" 
            name="zip" 
            id="zip" 
            <% if (oldInput) { %>
              value= "<%= oldInput.zip %>"
            <% } else { %>
              value="<%= recipient ? recipient.zip : '' %>" />
            <% } %>
        </div>
        <div>
          <label for="city">Postort:</label>
          <input 
            type="text" 
            name="city" 
            id="city"
            <% if (oldInput) { %>
              value= "<%= oldInput.city %>"
            <% } else { %>
              value="<%= recipient ? recipient.city : '' %>" />
            <% } %>
        </div>
      </fieldset>
      <fieldset>
        <legend>Kostnadsuppgifter:</legend>
        <div>
          <label for="invoice-number">Fakturanummer</label>
          <input 
            type="number" 
            name="invoiceNumber" 
            id="invoice-number"
            value="<%= oldInput ? oldInput.invoiceNumber : '' %>" />
        </div>
        <div>
          <label for="assignment-number">Uppdragsnummer</label>
          <input 
            type="number" 
            name="assignmentNumber" 
            id="assignment-number" 
            value="<%= oldInput ? oldInput.assignmentNumber : '' %>" />
        </div>
        <br>
        <div id="rows">
        <% if (numRows.length > 0) { %>
          <% for (let i = 0; i < numRows.length; i++) { %>
              <div>
                <label for="description">Beskrivning</label>
                <input 
                  type="text" 
                  name="description[]" 
                  id="description"
                  value="<%= oldInput ? oldInput.description[i] : '' %>" />
              </div>
              <div>
                <label for="quantity">Antal: </label>
                <input 
                  type="number" 
                  name="quantity[]" 
                  id="quantity"
                  value="<%= oldInput ? oldInput.quantity[i] : '' %>" />
              </div>
              <div>
                <label for="unit">Enhet:</label>
                <input 
                  type="text" 
                  name="unit[]" 
                  id="unit"
                  value="<%= oldInput ? input.unit[i] : '' %>" />
              </div>
              <div>
                <label for="price">Pris:</label>
                <input 
                  type="number" 
                  name="price[]" 
                  id="price"
                  value="<%= oldInput ? oldInput.quantity[i] : '' %>" />
              </div>
          <% } %>
        <% } %>
        </div>
        <input type="button" id="add-row" value="Ny rad">
      </fieldset>
      <div>
        <button type="submit">Skicka som pdf till min epost</button>
      </div>
    </form>
  
    <script src="/js/new-invoice.js"></script>
    <%- include('../includes/end.ejs') %>
